body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("fundo-img.jpg");
}

.container {
    max-width: 400px;
   /*margin: 0px auto;*/
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #d91a83;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-left: 20px;
    color: #d91a83;

}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 20px;
}

textarea {
    height: 150px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #d91a83;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    box-sizing: border-box;
    margin-left: 20px;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
}
p {
    text-align: left;
    margin-bottom: 20px;
    color: #d91a83;
    padding: 20px;
    text-align: center;
    background-color: rgba(240, 171, 194, 0.5); /* RGBA com 50% de transparência */
    
}



.contact-options li {
    margin-bottom: 20px;
    margin-left: 20px;

}

.contact-options li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d91a83 ;
    transition: color 0.3s ease;
}

.contact-options li a img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.contact-options li a:hover {
    color: #222622;
}
.menu {
    list-style-type: none; /* Remove os marcadores de lista */
    text-align: center;
    background-color: #d91a83; /* Cor de fundo do menu */
}

.menu li {
    display: inline-block; /* Exibe os itens do menu horizontalmente */
}

.menu li a {
   display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff; /* Cor do texto dos itens do menu */
}

.menu li a:hover {
    background-color: #555; /* Cor de fundo do item do menu quando passa o mouse por cima */
}
/* Estilos para dispositivos com tela de até 600 pixels de largura */
@media only screen and (max-width: 600px) {
    .elemento {
        /* Estilos específicos para telas menores */
        /* Por exemplo, reduzir a largura do elemento ou ajustar margens/padding */
    }
}